{% extends 'base.html' %}

{% block body %}



<section class="bg-gray-50 mt-16 dark:bg-gray-900 p-3 sm:p-5 antialiased">
    {% include 'flash_messages.html' %}

    <h1>Title</h1>

    <div class="mx-auto mt-16 max-w-screen-xl px-4 lg:px-12">
        <h1 class="text-2xl font-bold text-white my-5">{{todo.title}}</h1>
        <p class="text-lg font-bold text-white my-5">{{todo.desc}}</p>
   
        <h1 class="text-2xl font-bold text-center text-white my-5">
            Sub Tasks
        </h1>
        <div class="bg-white dark:bg-gray-800 relative shadow-md sm:rounded-lg sm:overflow-hidden">

        
            <div class="overflow-x-auto">
                <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                        <tr>
                            <th scope="col" class="px-4 py-4">Sr no</th>
                            <th scope="col" class="px-4 py-4">Title</th>
                            <th scope="col" class="px-4 py-3">Description</th>
                            <th scope="col" class="px-4 py-3">
                                <span class="sr-only">Actions</span>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for alltask in alltask %}
                        <tr class="border-b dark:border-gray-700">
                            <td class="px-4 py-3">{{loop.index}}</td>
                            <th scope="row"
                                class="px-4 py-3 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                {{alltask.title}}
                            </th>
                            <td class="px-4 py-3 max-w-[12rem] truncate">
                                {{alltask.desc}}
                            </td>
                            <td class="px-4 py-3 flex items-center justify-end">
                                <a href="/deleteSubtask/{{alltask.id}}" onclick="">
                                    <button
                                        class="bg-transparent text-blue-400 font-semibold hover:bg-blue-500 hover:text-white mx-2 py-2 px-4 border border-blue-500 hover:border-transparent rounded">
                                        Delete
                                    </button>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

<section class="bg-gray-50 h-screen dark:bg-gray-900 p-3 sm:p-5 antialiased">
    <div class="dark:bg-gray-900 w-full">
        <h1 class="text-2xl font-bold text-center text-white my-5 pt-30">
            Add your Subtasks
        </h1>
        <div class="dark:bg-gray-900 w-full">
            <div class="mx-auto mt-15 max-w-screen-xl px-4 lg:px-12">
                
                <form action="/task/{{sno}}" method="POST">
                    <div class="mb-6">
                        <label for="title"
                            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Title</label>
                        <input type="text" id="title" name="title" value=""
                            class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light"
                            placeholder="Cook the food at 10pm" required />
                    </div>
                    <div class="mb-6">
                        <label for="message" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your
                            message</label>
                        <textarea id="message" rows="4" name="desc" value=""
                            class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                            placeholder="Write your thoughts here..."></textarea>
                    </div>
                    <button type="submit"
                        class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                        Add Task
                    </button>
                </form>
            
            </div>
        </div>
    </div>
</section>

{% endblock body %}