{% extends 'base.html' %}
{% block title%}
UPDATE
{% endblock title %}
{% block body %}
<section class="bg-gray-50 mt-16 h-screen dark:bg-gray-900 p-3 sm:p-5 antialiased">
  <div class="dark:bg-gray-900 w-full">
    <h1 class="text-2xl font-bold text-center text-white my-5 pt-30">
      Update Your Task
    </h1>
    <div class="dark:bg-gray-900 w-full">
      <div class="mx-auto mt-15 max-w-screen-xl px-4 lg:px-12">
        <form action="/update/{{updateTodo.sno}}" method="POST">
          <div class="mb-6">
            <label for="title" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Title</label>
            <input type="text" id="title" name="title" value="{{updateTodo.title}}"
              class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light"
              placeholder="Cook the food at 10pm" required />
          </div>
          <div class="mb-6">
            <label for="category" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Category</label>
            <input type="text" id="category" name="category" value="{{updateTodo.category}}"
              class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light"
              placeholder="Write Category of Task..." required />
          </div>
          <div class="mb-6">
            <label for="message" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your
              message</label>
            <textarea id="message" rows="4" name="desc" value="{{updateTodo.desc}}"
              class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              placeholder="Write your thoughts here...">{{ updateTodo.desc }}</textarea>
          </div>
          <button type="submit"
            class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
            Add Task
          </button>
        </form>
      </div>
    </div>
  </div>
</section>

{% endblock body %}